/*--------------------------------*/
/*      BASIC SETUP               */
/*--------------------------------*/


* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: rgba(255, 255, 255, 0.92);
    color : #555;
    font-family: 'Bad Script', cursive; 'arial';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*--------------------------------*/
/*      HEADER                    */
/*--------------------------------*/

.row {
    
    max-width:114px;
    margin: 0 auto;
}


header{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
}
.hero-txt-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
     /* center div */
    
}
h1 {
    
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 10px; 
    letter-spacing: 2px;
}



.logo {
    
    height: 100px;
    width:  auto;
    float:left;
     margin-top: 3%;
     margin-left: 5%;
}



    

   

/*--------------------------------*/
/*      BUTTONS                */
/*--------------------------------*/
 .btn {
    
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; 
    border-radius: 200px;
}
    

.btn-full
{
    
   background-color: #e67e22;
   border: 1px solid #e67e22;
   color:#fff;
    
}

.btn-ghost
 {
    
    border: 1px solid #e67e22;
    color: #fff;
}
.hero-txt-box a:hover { 
    background-color: #cf6d17;
    transition: 0.2s;
    border-radius: 200px;
}
.btn-full a:hover { 
    background-color: #bf6516;
    transition: 0.2s;
}


